<!DOCTYPE html>
<html>
    <head>
        <title>IMDB</title>
        <link href="/css/materialize.css" rel="stylesheet">
        <link href="/css/materialize.min.css" rel="stylesheet">
        <link href="/fonts/google.fonts.css" rel="stylesheet">
        <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- Header -->
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo right">Logo</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="#" id="add">Add</a></li>
                    <li><a href="#" id="search">Search</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- adding actor -->
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card blue-grey darken-1">
                <div class="card-content white-text add-content">
                    <span class="card-title" id="add-title">Add Movie</span>
                    <form name="" id="add-frm">
                        <add-component></add-component>
                        <update-component></update-component>
                        <input name="movieId" id="movie-id" value="0" type="hidden">
                        <div class="input-field col s6 m3 l3">
                            <button type="submit" class="btn" id="frm-btn">add</button>
                            <button type="reset" class="btn" >cancel</button>
                        </div>
                    </form>
                </div>
                <div class="card-action add-card-action">
                    <a href="#" class="btn add-actor-btn">Actor</a>
                    <a href="#" class="btn add-movie-btn">Movie</a>
                    <a href="#" class="btn add-producers-btn">Producer</a>
                </div>
                </div>
            </div>
        </div>
    
        <!-- search template -->
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Today Movies</span>
                    <results-table></results-table>                 
                </div>
                <div class="card-action">
                    <a href="#" class="btn view-movie-btn">Movie</a>
                    <a href="#" class="btn view-actor-btn">Actor</a>
                    <a href="#" class="btn view-producers-btn">Producer</a>
                </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>

    </body>
    <!-- templates -->
        <!-- movie template -->
        <script id="view-movies-template" type="text/html">
            <table id="view-movies-table" class="display">
                <thead>
                    <th>&nbsp;</th>
                    <th>Movie name</th>
                    <th>Actor and Actress</th>
                    <th>Release date</th>
                    <th>Producer</th>
                    <th>Plot</th>
                    <th>Action</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </script> 
        <!-- end movie template -->
        <!-- actor template -->
        <script id="view-actors-template" type="text/html">
            <table id="view-actors-table" class="display">
                <thead>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>SEX</th>
                    <th>DOB</th>
                    <th>Birth in</th>
                    <th>Movies</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </script>
        <!-- end actor template -->
        <!-- producer template -->
        <script id="view-producers-template" type="text/html">
            <table id="view-producers-table" class="display">
                <thead>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>SEX</th>
                    <th>DOB</th>
                    <th>Birth in</th>
                    <th>Movies</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </script>
        <!-- end actor template -->
    <!-- end templates -->

    <!-- Adding template -->
        <!-- Actor add template -->
        <script id="add-actor-template" type="text/html">
            <div class="row">
            <div class="input-field col s12 m6 l6">
                <input placeholder="name" id="actor-name" name="actorName" type="text" class="validate">
                <label for="actor-name">Actor Name</label>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <label>
                        <input name="sex" value="M" class="with-gap" type="radio" checked />
                        <span>Male</span>
                    </label>
                    <label>
                        <input name="sex" value="F" class="with-gap" type="radio" />
                        <span>Female</span>
                    </label>
                    <label>
                        <input name="sex" value="O" class="with-gap" type="radio" />
                        <span>Otheer</span>
                    </label>
                </div>
            </div>
            <div class="input-field col s12 m6 l6"> 
                <input placeholder="DOB" id="actor-dob" name="actorDob" type="date" class="validate">
                <label for="actor-dob">DOB</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input placeholder="Birth place" id="actor-birth-place" name="actorDbp" type="text" class="validate">
                <label for="actor-birth-place">Birth place</label>
            </div> 
        </div>
        </script>
        <!-- end Adding template -->

        <!-- Producer add template -->
        <script id="add-producer-template" type="text/html">
            <div class="row">
            <div class="input-field col s12 m6 l6">
                <input placeholder="name" id="producer-name" name="producerName" type="text" class="validate">
                <label for="producer-name">Producer Name</label>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <label>
                        <input name="sex" value="M" class="with-gap" type="radio" checked />
                        <span>Male</span>
                    </label>
                    <label>
                        <input name="sex" value="F" class="with-gap" type="radio" />
                        <span>Female</span>
                    </label>
                    <label>
                        <input name="sex" value="O" class="with-gap" type="radio" />
                        <span>Otheer</span>
                    </label>
                </div>
            </div>
            <div class="input-field col s12 m6 l6"> 
                <input placeholder="DOB" id="producer-dob" name="producerDob" type="date" class="validate">
                <label for="producer-dob">DOB</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input placeholder="Birth place" id="producer-birth-place" name="producerDbp" type="text" class="validate">
                <label for="producer-birth-place">Birth place</label>
            </div>
        </div>
        </script>
        <!-- end Adding template -->

        <!-- Movie add template -->
        <script id="add-movie-template" type="text/html">
            <div class="row">
            <div class="input-field col s12 m6 l6">
                <input placeholder="name" id="movie-name" name="movieName" type="text" class="validate">
                <label for="movie-name">Movie Name</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input placeholder="name" id="movie-year" name="movieReleaseYear" type="text" class="validate">
                <label for="movie-year">Year of Release</label>    
            </div>
            <div class="input-field col s12 m6 l6"> 
                <select multiple name="showTime" id="show-time">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Evening">Evening</option>
                    <option value="Morning">Morning</option>
                    <option value="Night">Night</option>
                </select>
                <label>Show time</label>
            </div>
        </div>
        </script>
        <!-- end Adding template -->

        <!-- add actor to movie -->
        <script id="add-actor-to-movie" type="text/html">
            <div class="col s12 m6 l6">
                <select  name="movie" id="movie-option">
                    <option value="" disabled selected>Select a Movie</option>
                </select>
                <label>Movie</label>
            </div>
            <div class="col s12 m6 l6">
                <select multiple name="actors" id="actor-options">
                    <option value="" disabled selected>Select Actors</option>
                </select>
                <label>Actors</label>
            </div>
        </script>
        <!-- end  -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/jquery.validation.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/ajax/myApp.js"></script>
    <script type="text/javascript">
$(document).ready(function(){

     
         
    var taskMovie = {
        init:function(){
            // $('.dat').DataTable();
        },

        loadMovies:function(){
            app.getAllMovies().done(function(response){
                    if(response.status == true){
                        taskMovie.renderMovies(response.data);
                    }
            });
        },
        
        renderMovies:function(data){
            // $('results-table').html('');
            $('tbody','#view-movies-table').html('');
            var movies = '';
            $.each(data, function( index, list ) {
                var name = list.name;
                var yor = list.YOR;
                var plot = list.plot;
                // var  = list.department;
                var actorsData = list.actors;
                var actors = [];
                if(actorsData.length > 0){
                    for(var key in actorsData){
                        actors.push(actorsData[key].name)
                    }
                }else{
                    actors = '';
                }
                var producer = (list.producer != undefined )?list.producer.name:'';
                var edit = '<a href="#" class="add-actor-to-movie" movie-id="'+list._id+'"><i class="material-icons">edit</i></a>';
                var del = '<a href="#" class="delete-movie" movie-id="'+list._id+'"><i class="material-icons">delete_forever</i></a>';
                movies = '<tr>';
                movies += '<td>'+(index+1)+'</td>';   
                movies += '<td>'+name+'</td>';
                movies += '<td>'+actors+'</td>';
                movies += '<td>'+yor+'</td>';
                movies += '<td>'+producer+'</td>';
                movies += '<td>'+plot+'</td>';
                movies += '<td>'+edit+'&nbsp;'+del+'</td>';
                $('tbody','#view-movies-table').append(movies);
                taskMovie.addActorToMovie();
                taskMovie.deleteMovie();
            });
            $("#view-movies-table").DataTable({
                    "pageLength":5,
                    "bDestroy": true,
                    "order": []
                });
            $('#view-movies-template').text($('#view-movies-table').html());            
        },
        
        loadMovieTemplate:function(){
            $('results-table').html('');
            $('results-table').html($('#view-movies-template').text());
            taskMovie.loadMovies();
        },

        loadAddMovieTemplate:function(){
            $('add-component').html($('#add-movie-template').text());
            $('#show-time').formSelect();
            M.updateTextFields();
        },

        initMovieFrm:function(){
            $('form[name="add-movie-frm"]').validate({
                rules:{
                    movieName:{
                        required:true,
                        maxlength:50,
                        minlength:1
                    },
                    movieReleaseYear:{
                        required:true,
                        maxlength:4,
                        minlength:4,
                        number:function(){
                            var num = $('input[name="movieReleaseYear"]').val();
                            if($.isNumeric(num)){
                                return false;
                            }
                            return true;
                        }                    
                    },
                    showTime:{
                        required:true
                    }       
                },
                messages:{
                    movieName:{
                        required:"Movie name is required",
                        maxlength:"Movie name should be within 50 characters",
                        minlength:"Movie name should not be blank"
                    },
                    movieReleaseYear:{
                        required:"Movie release year is required",
                        maxlength:'Release year should be 4 digits',
                        minlength:'Release year should be 4 digits',
                        number:"Numeric should be required"
                    },
                    showTime:{
                        required:"DOB is required"
                    }
                },

                errorElement:"div",
                errorPlacement: function(error, element) {
                        var placement = $(element).data('error');
                        if (placement) {
                            $(placement).append(error)
                        } else {
                            error.insertAfter(element);
                        }
                },
                submitHandler:function(form){
                    var formData = $('form[name="add-movie-frm"]').serializeObject();
                    app.addMovie(formData).done(function(response){
                        if(response.status == true){
                            // console.log(formData);
                            M.toast(response.message,  4000, '');
                        }
                    });
                }

            })
        },

        initMoviesOption:function(movieId){
            movieId = movieId || '';
            app.getAllMoviesForOptions().done(function(response){
                // $('#movie-option').destroy();
                if(response.status == true){
                    var option = '<option value="" disabled selected>Select a Movie</option>';
                    var selected = '';
                    $.each(response.data, function(index, list){
                        if(movieId == list._id){
                            console.log(list._id);
                            console.log(movieId);
                            option += '<option value="'+list._id+'" selected>'+list.name+'</option>';
                            selected = "selected = 'true'";
                        }
                        option += '<option value="'+list._id+'>'+list.name+'</option>';
                    });
                    $('#movie-option').html(option);
                }
                $('#movie-option').formSelect();
            });

            app.getAllActorsByFilter().done(function(response){
                // $('#actor-options').destroy();
                if(response.status == true){
                    var option = '<option value="" disabled selected>Select Actor/Actress</option>';
                    $.each(response.data, function(index, list){
                        var val = list._id +'####'+list.name;
                        option += '<option value="'+val+'">'+list.name+'('+list.sex+')</option>'
                    });
                    $('#actor-options').html(option);
                }
                $('#actor-options').formSelect();
            });
        },

        loadUpdateMovieActorTemplate:function(){
            $('update-component').html($('#add-actor-to-movie').text());
        },

        addActorToMovie:function(){
            $('.add-actor-to-movie').unbind('click').on('click', function(){
                var _id = $(this).attr('movie-id');
                // alert(_id);
                taskMovie.loadUpdateMovieActorTemplate();
                taskMovie.initMoviesOption(_id);
                $('#add-frm').attr('name','update-actor-movie');
                $('#add-title').html('Add Actor to Movie');
                // $('#movie-option').html(option);
                // $('# option[value="'+_id+'"]').prop('selected',);  
                taskMovie.updateMovieAddActor();             
                // $('#movie-option option[value="'+_id+'"]').prop('selected', true);
            })
        },

        updateMovieAddActor:function(){
            $('form[name="update-actor-movie"]').validate({
                rules:{},
                messages:{},
                errorElement:'div',
                errorPlacement: function(error, element) {
                        var placement = $(element).data('error');
                        if (placement) {
                            $(placement).append(error)
                        } else {
                            error.insertAfter(element);
                        }
                },
                submitHandler:function(form){
                    var formData = $('form[name="update-actor-movie"]').serializeObject();
                    app.addActorToMovie(formData).done(function(response){
                        if(response.status == true){
                            // console.log(formData);
                            M.toast(response.message,  4000, '');
                            // taskMovie.loadMovies();
                        }
                    });
                }
            })
        },

        deleteMovie:function(){
            $('.delete-movie').unbind('click').on('click', function(){
                var movieId = $(this).attr('movie-id');
                $('#frm-btn').html('Delete');
                $('input[id="movie-id"]').val(movieId);
                $('form[id="add-frm"]').attr("name", "delete-movie-frm");
                $('#add-title').html('Delete Movie');                
                taskMovie.initDeleteFrm();
                // alert(movieId);
            })
        },

        initDeleteFrm:function(){
            $('form[name="delete-movie-frm"]').validate({
                rules:{},
                messages:{},
                errorElement:'div',
                errorPlacement: function(error, element) {
                        var placement = $(element).data('error');
                        if (placement) {
                            $(placement).append(error)
                        } else {
                            error.insertAfter(element);
                        }
                },
                submitHandler:function(form){
                    var formData = $('form[name="delete-movie-frm"]').serializeObject();
                    app.deleteMovie(formData).done(function(response){
                        if(response.status == true){
                            M.toast(response.message,  4000);
                        }
                    });
                }

            });
        }

}


    var taskActor ={
        
        loadActorSearchTemplate:function(){
            $('results-table').html('');
            $('results-table').html($('#view-actors-template').text());
            taskActor.loadActors();
        },

        renderActors:function(data){
            // $('results-table').html('');
            $('tbody','#view-actors-table').html('');
            var actors = '';
            $.each(data, function( index, list ) {
                var name = list.name;
                var sex = list.sex;
                var dob = (list.DOB)?new Date(list.DOB).toISOString()   :'-';
                // var  = list.department;
                var birtin = (list.bio.birthIn )?list.bio.birthIn:'';
                var movies = ((list.bio.movies).length > 0) ?(list.bio.movies).toString():'-';
                actors = '<tr>';
                actors += '<td>'+(index+1)+'</td>';   
                actors += '<td>'+name+'</td>';
                actors += '<td>'+sex+'</td>';
                actors += '<td>'+dob+'</td>';
                actors += '<td>'+birtin+'</td>';
                actors += '<td>'+movies+'</td>';
                $('tbody','#view-actors-table').append(actors);
            });
            $("#view-actors-table").DataTable({
                    "pageLength":5,
                    "bDestroy": true,
                    "order": []
                });
            $('#view-actors-template').text($('#view-actors-table').html());
        },

        loadActors:function(){
            app.getAllActors().done(function(response){
                if(response.status == true){
                    taskActor.renderActors(response.data);
                }
            });
        },

        loadAddActorTemplate:function(){
            $('add-component').html($('#add-actor-template').text());
            M.updateTextFields();
        }
        ,
        initAddActorForm:function(){
            $('form[name="add-actor-frm"]').validate({
                rules:{
                    actorName:{
                        required:true,
                        maxlength:50,
                        minlength:1
                    },
                    sex:{
                        required:true                    
                    },
                    actorDob:{
                        required:true
                    },
                    actorDbp:{
                        required:true,
                        maxlength:50,
                        minlength:1
                    }       
                },
                messages:{
                    actorName:{
                        required:"Actor name is required",
                        maxlength:"Actor name should be within 50 characters",
                        minlength:"Actor name should not be blank"
                    },
                    sex:{
                        required:"Actor gender required"
                    },
                    actorDob:{
                        required:"DOB is required"
                    },
                    actorDbp:{
                        required:"Birth place is required",
                        maxlength:"Birth place should be within 50 characters",
                        minlength:"Birth place should not be blank"
                    }

                },

                errorElement:"div",
                errorPlacement: function(error, element) {
                        var placement = $(element).data('error');
                        if (placement) {
                            $(placement).append(error)
                        } else {
                            error.insertAfter(element);
                        }
                },
                submitHandler:function(form){
                    var formData = $('form[name="add-actor-frm"]').serializeObject();
                    app.addActor(formData).done(function(response){
                        if(response.status == true){
                            // console.log(response.message);
                            M.toast(response.message,  4000, '');
                        }
                    });
                }
            })
            
        }
    }

    var taskProducer = {
        loadProducerTemplate:function(){
            $('results-table').html('');
            $('results-table').html($('#view-producers-template').text());
            taskProducer.loadProducer();
        },

        renderProducer:function(data){
            // $("#view-producers-table").empty();
            $('tbody','#view-producers-table').html('');
            var producer = '';
            $.each(data, function( index, list ) {
                var name = list.name;
                var sex = list.sex;
                var dob = (list.DOB)?new Date(list.DOB).toISOString()   :'-';
                // var  = list.department;
                var birtin = (list.bio.birthIn )?list.bio.birthIn:'';
                var movies = ((list.bio.movies).length > 0) ?(list.bio.movies).toString():'-';
                producer = '<tr>';
                producer += '<td>'+(index+1)+'</td>';   
                producer += '<td>'+name+'</td>';
                producer += '<td>'+sex+'</td>';
                producer += '<td>'+dob+'</td>';
                producer += '<td>'+birtin+'</td>';
                producer += '<td>'+movies+'</td>';
                $('tbody','#view-producers-table').append(producer);
            });
            $("#view-producers-table").DataTable({
                    "pageLength":5,
                    "bDestroy": true,
                    "order": []
                });
            $('#view-producers-template').text($('#view-producers-table').html());
        },
        
        loadProducer:function(){
            app.getAllProducers().done(function(response){
                if(response.status == true){
                    taskProducer.renderProducer(response.data);
                }
            });   
        },

        loadAddProducerTemplate:function(){
            $('add-component').html($('#add-producer-template').text());
            M.updateTextFields();
        },

        initProducerFrm:function(){
            $('form[name="add-producer-frm"]').validate({
                rules:{
                    producerName:{
                        required:true,
                        maxlength:50,
                        minlength:1
                    },
                    sex:{
                        required:true                    
                    },
                    producerDob:{
                        required:true
                    },
                    producerDbp:{
                        required:true,
                        maxlength:50,
                        minlength:1
                    }       
                },
                messages:{
                    producerName:{
                        required:"Producer name is required",
                        maxlength:"Producer name should be within 50 characters",
                        minlength:"Producer name should not be blank"
                    },
                    sex:{
                        required:"Producer gender required"
                    },
                    producerDob:{
                        required:"DOB is required"
                    },
                    producerDbp:{
                        required:"Birth place is required",
                        maxlength:"Birth place should be within 50 characters",
                        minlength:"Birth place should not be blank"
                    }

                },

                errorElement:"div",
                errorPlacement: function(error, element) {
                        var placement = $(element).data('error');
                        if (placement) {
                            $(placement).append(error)
                        } else {
                            error.insertAfter(element);
                        }
                },
                submitHandler:function(form){
                    var formData = $('form[name="add-producer-frm"]').serializeObject();
                    console.log(formData);
                    app.addProducer(formData).done(function(response){
                        if(response.status == true){
                            M.toast(response.message,  4000, '');
                        }
                    });
                }
            });
        }
    }


    // adding
    //taskActor.loadAddActorTemplate();
    

    $('.add-actor-btn').unbind('click').on('click', function(){
        $('#add-title').html('Add Actor');
        $('#add-frm').attr('name','add-actor-frm');
        taskActor.loadAddActorTemplate();
        taskActor.initAddActorForm();
    });

    

    $('.add-producers-btn').unbind('click').on('click', function(){
        $('#add-title').html('Add Producer');
        $('#add-frm').attr('name','add-producer-frm');
        taskProducer.loadAddProducerTemplate();
        taskProducer.initProducerFrm();
    });

    $('.add-movie-btn').unbind('click').on('click', function(){
        $('#add-title').html('Add Movie');
        $('#add-frm').attr('name','add-movie-frm');
        taskMovie.loadAddMovieTemplate();
        taskMovie.initMovieFrm();
    });

    




    // rendering
    taskMovie.loadMovieTemplate(); 

    $('.view-movie-btn').unbind('click').on('click',function(){
        $('.card-title').html('Today Movie');  
       taskMovie.loadMovieTemplate();    
    });

    $('.view-actor-btn').unbind('click').on('click',function(){
        $('.card-title').html('Actors');
        taskActor.loadActorSearchTemplate();    
    });

    $('.view-producers-btn').unbind('click').on('click',function(){
        $('.card-title').html('Producers');
        taskProducer.loadProducerTemplate();    
    });

});
    </script>
</html> 