<%- include('components/header'); -%>


    
        <!-- search template -->
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Today Movies</span>
                    <results-table></results-table>                 
                </div>
                <div class="card-action">
                    <a href="#" class="btn view-movie-btn">Movie</a>
                    <a href="#" class="btn view-actor-btn">Actor</a>
                    <a href="#" class="btn view-producers-btn">Producer</a>
                </div>
                </div>
            </div>
        </div>

        <%- include('components/footer'); -%>
        
        <!-- templates -->
        <!-- movie template -->
        <script id="view-movies-template" type="text/html">
            <table id="view-movies-table" class="display">
                <thead>
                    <th>&nbsp;</th>
                    <th>Movie name</th>
                    <th>Actor and Actress</th>
                    <th>Release date</th>
                    <th>Producer</th>
                    <th>Plot</th>
                    <!-- <th>Action</th> -->
                </thead>
                <tbody>
                </tbody>
            </table>
        </script> 
        <!-- end movie template -->
        <!-- actor template -->
        <script id="view-actors-template" type="text/html">
            <table id="view-actors-table" class="display">
                <thead>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>SEX</th>
                    <th>DOB</th>
                    <th>Birth in</th>
                    <th>Movies</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </script>
        <!-- end actor template -->
        <!-- producer template -->
        <script id="view-producers-template" type="text/html">
            <table id="view-producers-table" class="display">
                <thead>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>SEX</th>
                    <th>DOB</th>
                    <th>Birth in</th>
                    <th>Movies</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </script>
        <!-- end producer template -->
    <!-- end templates -->

    <!-- Adding template -->
        
        

    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/jquery.validation.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/ajax/myApp.js"></script>
    <script type="text/javascript">
$(document).ready(function(){

     
         
    var taskMovie = {
        init:function(){
            // $('.dat').DataTable();
        },

        loadMovies:function(){
            app.getAllMovies().done(function(response){
                    if(response.status == true){
                        taskMovie.renderMovies(response.data);
                    }
            });
        },
        
        renderMovies:function(data){
            // $('results-table').html('');
            $('tbody','#view-movies-table').html('');
            var movies = '';
            $.each(data, function( index, list ) {
                var name = list.name;
                var yor = list.YOR;
                var plot = list.plot;
                // var  = list.department;
                var actorsData = list.actors;
                var actors = [];
                if(actorsData.length > 0){
                    for(var key in actorsData){
                        actors.push(actorsData[key].name)
                    }
                }else{
                    actors = '';
                }
                var producer = (list.producer != undefined )?list.producer.name:'';
                // var edit = '<a href="#" class="add-actor-to-movie" movie-id="'+list._id+'"><i class="material-icons">edit</i></a>';
                // var del = '<a href="#" class="delete-movie" movie-id="'+list._id+'"><i class="material-icons">delete_forever</i></a>';
                movies = '<tr>';
                movies += '<td>'+(index+1)+'</td>';   
                movies += '<td>'+name+'</td>';
                movies += '<td>'+actors+'</td>';
                movies += '<td>'+yor+'</td>';
                movies += '<td>'+producer+'</td>';
                movies += '<td>'+plot+'</td>';
                // movies += '<td>'+edit+'&nbsp;'+del+'</td>';
                $('tbody','#view-movies-table').append(movies);
            });
            $("#view-movies-table").DataTable({
                    "pageLength":5,
                    "bDestroy": true,
                    "order": []
                });
            $('#view-movies-template').text($('#view-movies-table').html());            
        },
        
        loadMovieTemplate:function(){
            $('results-table').html('');
            $('results-table').html($('#view-movies-template').text());
            taskMovie.loadMovies();
        },

        
        
}


    var taskActor ={
        
        loadActorSearchTemplate:function(){
            $('results-table').html('');
            $('results-table').html($('#view-actors-template').text());
            taskActor.loadActors();
        },

        renderActors:function(data){
            // $('results-table').html('');
            $('tbody','#view-actors-table').html('');
            var actors = '';
            $.each(data, function( index, list ) {
                var name = list.name;
                var sex = list.sex;
                var dob = (list.DOB)?new Date(list.DOB).toISOString()   :'-';
                // var  = list.department;
                var birtin = (list.bio.birthIn )?list.bio.birthIn:'';
                var movies = ((list.bio.movies).length > 0) ?(list.bio.movies).toString():'-';
                actors = '<tr>';
                actors += '<td>'+(index+1)+'</td>';   
                actors += '<td>'+name+'</td>';
                actors += '<td>'+sex+'</td>';
                actors += '<td>'+dob+'</td>';
                actors += '<td>'+birtin+'</td>';
                actors += '<td>'+movies+'</td>';
                $('tbody','#view-actors-table').append(actors);
            });
            $("#view-actors-table").DataTable({
                    "pageLength":5,
                    "bDestroy": true,
                    "order": []
                });
            $('#view-actors-template').text($('#view-actors-table').html());
        },

        loadActors:function(){
            app.getAllActors().done(function(response){
                if(response.status == true){
                    taskActor.renderActors(response.data);
                }
            });
        },

       }

    var taskProducer = {
        loadProducerTemplate:function(){
            $('results-table').html('');
            $('results-table').html($('#view-producers-template').text());
            taskProducer.loadProducer();
        },

        renderProducer:function(data){
            // $("#view-producers-table").empty();
            $('tbody','#view-producers-table').html('');
            var producer = '';
            $.each(data, function( index, list ) {
                var name = list.name;
                var sex = list.sex;
                var dob = (list.DOB)?new Date(list.DOB).toISOString()   :'-';
                // var  = list.department;
                var birtin = (list.bio.birthIn )?list.bio.birthIn:'';
                var movies = ((list.bio.movies).length > 0) ?(list.bio.movies).toString():'-';
                producer = '<tr>';
                producer += '<td>'+(index+1)+'</td>';   
                producer += '<td>'+name+'</td>';
                producer += '<td>'+sex+'</td>';
                producer += '<td>'+dob+'</td>';
                producer += '<td>'+birtin+'</td>';
                producer += '<td>'+movies+'</td>';
                $('tbody','#view-producers-table').append(producer);
            });
            $("#view-producers-table").DataTable({
                    "pageLength":5,
                    "bDestroy": true,
                    "order": []
                });
            $('#view-producers-template').text($('#view-producers-table').html());
        },
        
        loadProducer:function(){
            app.getAllProducers().done(function(response){
                if(response.status == true){
                    taskProducer.renderProducer(response.data);
                }
            });   
        },

    }


    // adding
    //taskActor.loadAddActorTemplate();
        

    $('.add-producers-btn').unbind('click').on('click', function(){
        $('#add-title').html('Add Producer');
        $('#add-frm').attr('name','add-producer-frm');
        taskProducer.loadAddProducerTemplate();
        taskProducer.initProducerFrm();
    });


    




    // rendering
    taskMovie.loadMovieTemplate(); 

    $('.view-movie-btn').unbind('click').on('click',function(){
        $('.card-title').html('Today Movie');  
       taskMovie.loadMovieTemplate();    
    });

    $('.view-actor-btn').unbind('click').on('click',function(){
        $('.card-title').html('Actors');
        taskActor.loadActorSearchTemplate();    
    });

    $('.view-producers-btn').unbind('click').on('click',function(){
        $('.card-title').html('Producers');
        taskProducer.loadProducerTemplate();    
    });

});
    </script>
</html> 

